# Clocks
NET "CLK" PERIOD = 20 ns | LOC = "K3"; # 50MHz

# micro SD Card
NET "SD_CLK"     LOC="L12" | IOSTANDARD=LVTTL;
NET "SD_CD_DAT3" LOC="K12" | IOSTANDARD=LVTTL;
NET "SD_DAT0"    LOC="M10" | IOSTANDARD=LVTTL;
NET "SD_DAT1"    LOC="L10" | IOSTANDARD=LVTTL;
NET "SD_DAT2"    LOC="J11" | IOSTANDARD=LVTTL;
NET "SD_CMD"     LOC="K11" | IOSTANDARD=LVTTL;

# SDRAM
NET "UDQM"    LOC="F15"   | IOSTANDARD=LVTTL;
NET "SDRAM_CLK" LOC="G16" | IOSTANDARD=LVTTL;
NET "CKE"     LOC="H16"   | IOSTANDARD=LVTTL;
NET "BS1"     LOC="T14"   | IOSTANDARD=LVTTL;
NET "BS0"     LOC="R14"   | IOSTANDARD=LVTTL;
NET "SDRAM_CSn" LOC="R1"  | IOSTANDARD=LVTTL;
NET "RASn"    LOC="R2"    | IOSTANDARD=LVTTL;
NET "CASn"    LOC="T4"    | IOSTANDARD=LVTTL;
NET "WEn"     LOC="R5"    | IOSTANDARD=LVTTL;
NET "LDQM"    LOC="T5"    | IOSTANDARD=LVTTL;
NET "A<0>"    LOC="T15"   | IOSTANDARD=LVTTL;
NET "A<1>"    LOC="R16"   | IOSTANDARD=LVTTL;
NET "A<2>"    LOC="P15"   | IOSTANDARD=LVTTL;
NET "A<3>"    LOC="P16"   | IOSTANDARD=LVTTL;
NET "A<4>"    LOC="N16"   | IOSTANDARD=LVTTL;
NET "A<5>"    LOC="M15"   | IOSTANDARD=LVTTL;
NET "A<6>"    LOC="M16"   | IOSTANDARD=LVTTL;
NET "A<7>"    LOC="L16"   | IOSTANDARD=LVTTL;
NET "A<8>"    LOC="K15"   | IOSTANDARD=LVTTL;
NET "A<9>"    LOC="K16"   | IOSTANDARD=LVTTL;
NET "A<10>"   LOC="R15"   | IOSTANDARD=LVTTL;
NET "A<11>"   LOC="J16"   | IOSTANDARD=LVTTL;
NET "A<12>"   LOC="H15"   | IOSTANDARD=LVTTL;
NET "D<0>"    LOC="T13"   | IOSTANDARD=LVTTL;
NET "D<1>"    LOC="T12"   | IOSTANDARD=LVTTL;
NET "D<2>"    LOC="R12"   | IOSTANDARD=LVTTL;
NET "D<3>"    LOC="T9"    | IOSTANDARD=LVTTL;
NET "D<4>"    LOC="R9"    | IOSTANDARD=LVTTL;
NET "D<5>"    LOC="T7"    | IOSTANDARD=LVTTL;
NET "D<6>"    LOC="R7"    | IOSTANDARD=LVTTL;
NET "D<7>"    LOC="T6"    | IOSTANDARD=LVTTL;
NET "D<8>"    LOC="F16"   | IOSTANDARD=LVTTL;
NET "D<9>"    LOC="E15"   | IOSTANDARD=LVTTL;
NET "D<10>"   LOC="E16"   | IOSTANDARD=LVTTL;
NET "D<11>"   LOC="D16"   | IOSTANDARD=LVTTL;
NET "D<12>"   LOC="B16"   | IOSTANDARD=LVTTL;
NET "D<13>"   LOC="B15"   | IOSTANDARD=LVTTL;
NET "D<14>"   LOC="C16"   | IOSTANDARD=LVTTL;
NET "D<15>"   LOC="C15"   | IOSTANDARD=LVTTL;

# Audio Pins
NET "AUDIO1" LOC="B8" | IOSTANDARD=LVTTL;
NET "AUDIO2" LOC="A8" | IOSTANDARD=LVTTL;

# FTDI
NET "FTDI_RXF"   LOC="N3" | IOSTANDARD=LVTTL;
NET "FTDI_TXE"   LOC="N1" | IOSTANDARD=LVTTL;
NET "FTDI_SIWUA" LOC="M3" | IOSTANDARD=LVTTL;
NET "FTDI_WR"    LOC="M2" | IOSTANDARD=LVTTL;
NET "FTDI_RD"    LOC="M1" | IOSTANDARD=LVTTL;
NET "FTDI_D<0>"  LOC="M7" | IOSTANDARD=LVTTL;
NET "FTDI_D<1>"  LOC="N6" | IOSTANDARD=LVTTL;
NET "FTDI_D<2>"  LOC="M6" | IOSTANDARD=LVTTL;
NET "FTDI_D<3>"  LOC="P5" | IOSTANDARD=LVTTL;
NET "FTDI_D<4>"  LOC="N5" | IOSTANDARD=LVTTL;
NET "FTDI_D<5>"  LOC="P4" | IOSTANDARD=LVTTL;
NET "FTDI_D<6>"  LOC="P2" | IOSTANDARD=LVTTL;
NET "FTDI_D<7>"  LOC="P1" | IOSTANDARD=LVTTL;
